
    <div ng-controller="Assignment6Controller">
        <div align="center">
    <h2> ORDER DETAILS </h2>
    <br>
    <br>
    <br>
   
    <h4> Please select your option: </h4>
    <br>
    <br>
    <table border="2px;">

      <td> </td>
        <td> <b> Menu</b></td>
        <td><b>Price </b></td>
   
            <tr ng-repeat="x in names">
                <td> <input type="checkbox" ng-model="item.isSelected" ng-change="value(item.isSelected,x)"/> </td>

<td> {{x.name}} </td>
<td>{{x.price}} </td>
</tr>

    </table>
<!--
    <div ng-repeat="x in names">-->


        <!--<input type="checkbox" ng-model="item.isSelected" ng-change="value(item.isSelected,x)"/>{{x.name}} {{x.price}}-->
    <!--</div>-->
    <hr/>
    <div>Selected Item</div>
    <div ng-repeat="y in selectedItems" ng-show="selectedItems.length>0">
        {{y.name}}----{{y.price}}
    </div>
    <div><b> Total: </b>{{total}}</div>
    <div ng-show="selectedItems.length<=0"> No item selected </div>
        </div>
</div>
